@charset "utf-8";
/* CSS Document */

.ui-footer h4.ui-title {
	font-size: 11px;
	margin-top: 0.6em;
	margin-right: 0px;
	margin-bottom: 0.6em;
	margin-left: 0px;
}

.listItemNoIcon .ui-icon
{
	display: none;
}

#page div div .listItemNoIcon h4 .linkText {
	color: #fff;
	text-decoration: none;
}